:not(:defined) > * {
  display: none;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

:not(:defined) > * {
  display: none;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

model-viewer {
  width: 100%;
  height: 90%;
  background-color: #ffffff;
}

.Hotspot {
  background: #fff;
  border-radius: 32px;
  border: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  cursor: pointer;
  height: 24px;
  padding: 8px;
  position: relative;
  transition: opacity 0.3s;
  width: 24px;
}

.Hotspot:not([data-visible]) {
  background: transparent;
  border: 4px solid #fff;
  box-shadow: none;
  height: 32px;
  pointer-events: none;
  width: 32px;
}

.Hotspot:focus {
  border: 4px solid rgb(0, 128, 200);
  height: 32px;
  outline: none;
  width: 32px;
}

.Hotspot > * {
  opacity: 1;
  transform: translateY(-50%);
}

.HotspotAnnotation {
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  display: block;
  left: calc(100% + 1em);
  max-width: 128px;
  overflow-wrap: break-word;
  padding: 0.5em 1em;
  position: absolute;
  top: 50%;
  width: -moz-max-content;
  width: max-content;
}

.HotspotAnnotation h2 {
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  text-align: left;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.8);
  line-height: 1;
}

.HotspotAnnotation p {
  font-size: 12px;
  color: #000;
  text-align: left;
}

.Hotspot:not([data-visible]) > * {
  opacity: 0;
  pointer-events: none;
  transform: translateY(calc(-50% + 4px));
  transition: transform 0.3s, opacity 0.3s;
}

.progress-bar {
  display: block;
  width: 33%;
  height: 10%;
  max-height: 2%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  border-radius: 25px;
  box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.5), 0px 0px 5px 1px rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.9);
  background-color: rgba(0, 0, 0, 0.5);
}

.progress-bar.hide {
  visibility: hidden;
  transition: visibility 0.3s;
}

.update-bar {
  background-color: rgba(255, 255, 255, 0.9);
  width: 0%;
  height: 100%;
  border-radius: 25px;
  float: left;
  transition: width 0.3s;
}

#ar-button {
  background-image: url(ar_icon.png);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: 12px 50%;
  background-color: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  bottom: 16px;
  padding: 0px 16px 0px 40px;
  font-family: Roboto Regular, Helvetica Neue, sans-serif;
  font-size: 14px;
  color: #4285f4;
  height: 36px;
  line-height: 36px;
  border-radius: 18px;
  border: 1px solid #DADCE0;
}

#ar-button:active {
  background-color: #E8EAED;
}

#ar-button:focus {
  outline: none;
}

#ar-button:focus-visible {
  outline: 1px solid #4285f4;
}

@keyframes circle {
  from {
    transform: translateX(-50%) rotate(0deg) translateX(50px) rotate(0deg);
  }
  to {
    transform: translateX(-50%) rotate(360deg) translateX(50px) rotate(-360deg);
  }
}
@keyframes elongate {
  from {
    transform: translateX(100px);
  }
  to {
    transform: translateX(-100px);
  }
}
model-viewer > #ar-prompt {
  position: absolute;
  left: 50%;
  bottom: 60px;
  animation: elongate 2s infinite ease-in-out alternate;
  display: none;
}

model-viewer[ar-status=session-started] > #ar-prompt {
  display: block;
}

model-viewer > #ar-prompt > img {
  animation: circle 4s linear infinite;
}

header, footer {
  background-color: #000;
}

h1, h2, h3, h4, p, li, a {
  font-family: "Manrope", serif;
  margin: 0;
}

h1, h2, h3, h4 {
  line-height: 1;
}

p {
  font-size: 14px;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
}

a {
  text-decoration: none;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 100%;
}

.hero-cont {
  background-color: #000;
  margin-bottom: 30px;
}

.h2-large {
  font-size: 100px;
  line-height: 0.9;
  color: #fff;
}

.h3-large {
  font-size: 32px;
  color: #fff;
}

.h2-large, .h3-large {
  margin-top: 500px;
}

.h2-reg {
  font-size: 48px;
  font-weight: 700;
}

#hero-grid {
  align-items: end;
}

.welcome {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: sticky;
}

#welcome-video {
  width: 100vw;
}

.vid-cont {
  position: sticky;
  top: 0;
}

#explode-view {
  width: 100%;
}

.infobox {
  height: 300px;
  background-color: rgba(0, 0, 0, 0.0784313725);
  border-radius: 35px;
  margin: 10px 0px;
}

.infotext {
  background: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 20px;
  padding-right: 20px;
}

.infotext .p-description {
  margin-bottom: 20px;
}

.p-heading {
  color: #000;
}

.p-description {
  color: #858585;
}

#boxes-grid .h2-reg {
  margin-bottom: 30px;
}

.anc {
  padding: 300px 0px;
}

.p-xl {
  font-size: 32px;
  font-weight: 600;
  text-align: center;
}

#comp {
  margin-top: 30px;
}

#comparison-cont {
  display: none;
}

.colors {
  margin-bottom: 50px;
}

.vision-text {
  margin-bottom: 100px;
  margin-top: 30px;
  width: 50%;
}

.vision-box {
  height: 100%;
  background-color: #DADCE0;
  border-radius: 35px;
  margin-bottom: 50px;
  width: 40%;
}

.vision-block {
  display: flex;
  margin-bottom: 90px;
}

.vision-block p {
  width: 60%;
}

#mobile-tablet-view img {
  width: 100%;
}

.footer-p {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.4901960784);
}

#footer-cont {
  padding: 10px;
}

.footer-ul li {
  font-size: 12px;
}

@media screen and (min-width: 768px) {
  #mobile-tablet-view {
    display: none;
  }
  #comparison-cont {
    display: block;
  }
  #color-div {
    position: relative;
    aspect-ratio: 16/10;
    background-image: url(../img/vid1_0005.png);
    background-size: cover;
    background-position: 50%;
  }
  #divisor {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../img/vid1_0150.png);
    background-size: cover;
    height: 100%;
    width: 50%;
  }
  input[type=range] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    top: -18px;
    left: -2%;
    background-color: rgba(255, 255, 255, 0.1);
    width: 102%;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-moz-range-track {
    height: 15px;
    width: 98%;
    background-color: rgba(255, 255, 255, 0.1);
    position: relative;
    outline: none;
  }
  input[type=range]::active {
    border: none;
    outline: none;
  }
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 15px;
    background: #ffffff;
    border-radius: 0;
  }
  input[type=range]::-moz-range-thumb {
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 15px;
    background: #ffffff;
    border-radius: 0;
  }
  input[type=range]:focus::-webkit-slider-thumb {
    background: rgba(255, 255, 255, 0.5);
  }
  input[type=range]:focus::-moz-range-thumb {
    background: rgba(255, 255, 255, 0.5);
  }
}